h1{
	text-align: center;
}
input{
	margin: 10px 0px;
	padding: 5px;
}

button, input[type="text"]{
	cursor: url('../imgs/globe.png'), progress;

}
input:focus{
	border: 5px solid black;
}

div{
	font-size:125%;
	margin-left: 25px;
}
#forecast{
	display:none;
	text-align: center;
}
#forecast img{
	width: 25vw;
	border: 8px solid blue;
	margin: 0 auto;
	background: black;
}
button{
	margin-top: 25px;
}